

    <section class="content">
    <div class="container-fluid">
    <div class="row">
        <div class="col-12">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
            <h3 class="card-title"> Reporte de tabla bitácora/ Seguridad </h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
                </button>
            </div>
            </div>

                <div class="table-responsive">
                    <table id="tablaLibros" class="table table-bordered table-striped">
                    <thead>
                        <tr class='btn-danger text-white font-weight-bold'>
                        <th>ID</th>
                        <th>Tabla</th>
                        <th>Antes</th>
                        <th>Despues</th>
                        <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody id="datoslibro"> 

                    </tbody>
                    </table>
                </div>

                <!-- /.card-body -->
          <div class="card-footer">
            Bitacora
          </div>
          <!-- /.card-footer-->
        </div>

        <!-- /.card -->
      </div>

    </div>

  </div>

</section>