
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0"></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Biblioteca Virtuales Descarga</li>
        </ol>
      </div>
    </div>
  </div>
</div>




        <h3>
          <center> BINVENIDO A LA BIBLIOTECA VIRTUAL DESCARGA DE LIBRO</center>
        </h3>

<!-- Descarga v2 -->
        <center>
          <h1>Descaga de libros</h1>
        </center>
<br>
<br>
<center>
<form action="" method="post" target="_blank">

  <p>

    Buscar categoria de libro: <input type="search" name="Busqueda de libro" list="listamodelos">

    <input type="submit" value="Buscar">

  </p>

</form>

<datalist id="listamodelos">

  <option value="Informatica">

  <option value="Programación">

  <option value="Diseño">

  <option value="Desarrollo Web">

</datalist>
</center>

        <nav class="links" ></nav>
          <main class="grid-fluid">


          </main>
